[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
[submodule "dotbot-vscode"]
	path = dotbot-vscode
	url = https://github.com/hujianxin/dotbot-vscode
[submodule "dotbot-git"]
	path = dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
